<div class="row fixed-bottom bg-white">
    <div class="col-12 text-center">
        <p class="mb-0 mt-3">Desenvolvido por <strong>Ernane Toledo</strong></p>
        <p class="mb-0">
            <a class="btn btn-link btn-sm px-1" href="https://linkedin.com/in/ernanetoledo" title="Acesse meu Linkedin">
                <i class="fab fa-linkedin fa-2x text-primary"></i>
            </a>
            <a class="btn btn-link btn-sm px-1" href="https://github.com/in/ernaneaugusto" title="Acesse meu Github">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </p>
    </div>
</div>